<div class="card">
  <a class="card-title">Contact</a>
  <p class="card-text">If you need more information or any help please contact us</p>
  <p class="card-header">e-mail</p>
  <p class="card-text"><a href=mailto:office@casaalesic.com>office@casaalesic.com</a></p>
  <p class="card-header">tel.nr</p>
  <p class="card-text">+43224321145</p>
</div>
<div class="card">
  <iframe
  width="420"
  height="550"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBydYCOyp8fVI5IrD2REc0iTH-RnZ_bBr4&q=Strada+principala+Somesu+Rece" allowfullscreen>
</iframe>
</div>
