<div class="card">
  <a class="card-title">Contact</a>
  <p class="card-text">If you need more information or any help please contact us</p>
  <p class="card-header">e-mail</p>
  <p class="card-text"><a href="mailto:{{ site.mail }}">{{ site.mail }}</a></p>
  <p class="card-header">tel.nr</p>
  <p class="card-text">{{ site.tel }}</p>
  <p class="card-header">Facebook</p>
  <p class="card-text"><a href="{{site.facebook}}">Vivamonte on Facebook</a>
</div>
<div class="card">
  <iframe
  width="420"
  height="550"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBydYCOyp8fVI5IrD2REc0iTH-RnZ_bBr4&q=46.7333%2C23.3667" allowfullscreen>
</iframe>
</div>
