<header class="site-header">

  <div class="nav-wrapper">
    <div class="title-wrapper">
      <div class="site-title">
        <a href="{{ site.baseurl }}/{% if page.lang == "en" %}{{ page.lang }}{% endif %}"><img alt="vivamonte" src="/assets/img/logo.png"></a>
      </div>
    </div>
    <div class="nav-accent-wrap">
      <div class="nav-accent"></div>
    </div>

    <nav class="site-nav">
      <div class="nav-left">
      {% assign pages = site.pages | where: "lang", page.lang %}
      {% for page in pages %}
          {% assign half_length = forloop.length | divided_by: 2 %}
          {% if forloop.index0 == half_length %}
            </div>
            <div class="nav-right">
          {% endif %}
          {% if page.hidden %}
          {% else %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
      {% endfor %}
      </div>
    </nav>
  </div>
  <!--script src="assets/js/header.js" /-->
</header>
