---
layout: default
title: Informatii Generale
lang: ro
image: building1.jpg
excerpt: 'Complexul turistic VIVA MONTE, situat la 24 km de Cluj-Napoca si 6 km de comuna Gilau, pe soseaua nationala E60 in directia Oradea, se intinde pe un areal de 19 000m², pe marginea raului Somesul Rece si cuprinde: doua cabane 10 camere terenuri de sport (2600m²)'
text: >
  Complexul turistic VIVA MONTE, situat la 24 km de Cluj-Napoca si 6 km de comuna Gilau, pe soseaua nationala E60 in directia Oradea, se intinde pe un areal de 19 000m², pe marginea raului Somesul Rece si cuprinde:
  doua cabane 10 camere
  terenuri de sport (2600m²)
  o discoteca (260 m² )
  spatiu de nunti (pana la 300 persoane)
  camping
  parcare pana la 150 de masini in incinta complexului
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% capture post %}
      {% include contact_ro.md %}
    {% endcapture %}
    {{ post | markdownify }}
  </article>
</div>

{% include contact.html %}
